body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

body {
  text-align: center;
  padding-top: 20px;
}
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #363636;
}
.content .main-title {
  color: #fff;
}
.main-form {
  margin-top: 50px;
}